/* Styles */

:root {
    --color-light: #ffffff;
    --color-dark: #202020;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--color-dark);
}

h3 {
    font-weight: 300;
}

div, p, a {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: var(--color-dark);
}

/* Landing Styles */

.landing {

    h1, h2, h3 {
        padding: 0;
        margin: 0;
    }

    #title {
        position: absolute;
        top: 180px;
        left: 80px;
        font-size: 90pt;
    }
    #subtitle {
        position: absolute;
        top: 350px;
        left: 230px;
    }
    #name {
        position: absolute;
        top: 40px;
        left: 40px;
    }
}

#landing-img-container {
    overflow: hidden;
    height: 980px;

    img {
        width: 100vw;
        
        position: relative;
        top: -200px;
    }
}